---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainHero from "../components/MainHero.astro";
import Posts from "../components/Posts.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={"Muhammad Bin Jamil | " + SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main>
      <MainHero />
      <div class="container">
        <h2>Recent Writings</h2>
      </div>
      <Posts limit={5} />
      <div class="container">
        <p><a href="/writings">View all writings &#8594;</a></p>
      </div>
    </main>
    <Footer />
    <style>
      main {
        margin-bottom: 2rem;
      }
      h2 {
        font-size: var(--fs-h2);
      }
      p a {
        font-size: var(--fs-100);
      }
  @media screen and (max-width: 768px) {
      p a {
        font-size: var(--fs-50);
      }
      }
    </style>
  </body>
</html>
