---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container">
      <h1 id="hello"></h1>
    </main>
    <Footer />
    <script>
      fetch('./.netlify/functions/hello-world').then(res => res.json().then(json => {
        const { message } = json;
        document.querySelector('#hello').innerText = message;
      }));
    </script>
  </body>
</html>

