---
const today = new Date();
---

<footer>
  <div class="container">
    <div>&copy;{today.getFullYear()} Muhammad Bin Jamil</div>
    <div>All rights reserved</div>
  </div>
</footer>
<style>
  footer {
    font-size: var(--fs-text-footer);
    color: var(--clr-text-subtle);
    padding-block: 1rem;
    border-top: 1px solid var(--clr-footer-border);
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
</style>
